version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SECRET_KEY: secret_secret_secret
      LISTEN_ADDR: :8080
      DB_DSN: postgres://postgres:postgres@db:5432/brunoyam
    command: ["./bin/app"]

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: brunoyam
    ports:
      - "5433:5432"